/assets/*
/protected/runtime/application.log
assets/
framework/cli/runtime/
framework/cli/views/shell/module/components/
framework/cli/views/shell/module/messages/
framework/cli/views/shell/module/models/
framework/cli/views/shell/module/views/layouts/
protected/commands/
protected/messages/
protected/migrations/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
themes/classic/views/layouts/
themes/classic/views/site/
themes/classic/views/system/
/protected/runtime/session-1.1.17.db
/protected/runtime/
