/assets/*
/protected/runtime/application.log
assets/
protected/commands/
protected/messages/
protected/migrations/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
themes/classic/views/layouts/
themes/classic/views/site/
themes/classic/views/system/
protected/runtime/session-1.1.17.db
protected/runtime/
